.theme-root {
  --po-csv-surface-background: #2d3338;
  --po-csv-surface-color: #d7dde2;
  --po-editable-table-border: #66717a;
  --po-editable-table-cell-border: #485159;
  --po-editable-table-sticky-header-background: #3a4249;
  --po-editable-table-cell-focus-ring: #6dc1e7;
}
