:root {
  background: #f1eadf;
  color-scheme: light;
}

:root[data-initial-theme="dark"] {
  background: #0e0e0e;
  color-scheme: dark;
}

:root[data-interface-style="windows-xp"] {
  background: #dfe9f5;
  color-scheme: light;
}

:root[data-interface-style="macos-tiger"] {
  background: #d7d7d7;
  color-scheme: light;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body,
#root:empty {
  overflow: hidden;
  background: #f1eadf;
}

:root[data-initial-theme="dark"] body,
:root[data-initial-theme="dark"] #root:empty {
  background: #0e0e0e;
}

:root[data-interface-style="windows-xp"] body,
:root[data-interface-style="windows-xp"] #root:empty {
  background: #dfe9f5;
}

:root[data-interface-style="macos-tiger"] body,
:root[data-interface-style="macos-tiger"] #root:empty {
  background: #d7d7d7;
}
