@puppyone-theme {
  id: windows-xp.luna-blue;
  name: Luna Blue;
  version: 1.0.0;
  compatible-root-themes: windows-xp;
  modes: light;
  builtin-order: 60;
}

@puppyone markdown {}

@puppyone csv {}
