.theme-root {
  --po-csv-surface-background: #f7fbf9;
  --po-csv-surface-color: #24372f;
  --po-editable-table-border: #8fb8a7;
  --po-editable-table-cell-border: #c6ddd3;
  --po-editable-table-sticky-header-background: #dcece5;
  --po-editable-table-cell-focus-ring: #00866d;
}

.dark .theme-root {
  --po-csv-surface-background: #0b302f;
  --po-csv-surface-color: #e0f1ea;
  --po-editable-table-cell-border: #35645a;
  --po-editable-table-sticky-header-background: #123e39;
}
